header{

    position: relative;
    padding: 0 8rem;

    background-color: #0b2046 ;
    margin: 0;
    padding: 2px;
    font-size: 1.25em; 
}

nav
{
    display: flex;
}
h1{
    color: yellow;    
}
.section-one
{
    
   background-color: #0b2046;
    

    
}
.container .links 
{    
    list-style: none;    
    gap: 10rem;
    justify-content: center  ;
    display: flex;
}
.li
{
    list-style: none;    
}

.links a
{
    
    text-decoration: none;
    color: #3cccf8;
    font-size: 3rem;
    padding: 2px;
    
}
