body 
{
    font-size: 1.125rem;
    background-color:#0b2046;
    color: #3cccf8;
    margin: 0;
}   
/*  TABLE OF CONTEXT    */
.wrap{
    width: 1280px;  
    margin:0 auto ;
    margin-top: 50px;     
    
   
    
    
}
.card{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width:300px;
    background: transparent;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    float:left;
    margin:10px;
}
.card:hover{
    box-shadow:  0 8px 16px 0 rgba(197, 196, 196, 0.6);
}

.container{
    padding: 15px 16px;

   
}
.toc-img{
    width: 300px;
    height: 300px;
}

.btn_toc
{
    background-color: chocolate;
    color:#0b2046;
    padding: 12px 20px;
    border-radius: 2rem;
}

.btn_toc a
{
    
    width:100%;
    height:25px;
}




/*  TABLE OF CONTEXT    */




header{

    color: rgb(255, 166, 0) ;
    margin: 0;
    padding: 2px;
    font-size: 1.25em; 
     
}

nav
{
    color: yellow;
    display: flex;
   
     
}
/*LAYOUT*/

.container
{
    width:95%;
    max-width: 1280px;
    margin: 0 auto;   

}
.container .links 
{    
    list-style: none;    
    gap: 4rem;
    justify-content: center  ;
    display: flex;
}
.li
{
    list-style: none;    
}

.links a
{
    
    text-decoration: none;
    color: #3cccf8;
    font-size: 1.5rem;
    padding: 2;
    
}
a:hover
{
    border: .5rem;
    
}

.colums
{
    display: flex;
    
}
.colums .col-2
{
    padding-left: 5rem;
    width: 50%;
    color: #3cccf8;;
}

span
{    
    color: chocolate;
}

span2
{    
    color: rgb(30, 210, 180);
}

img 
{    
    height: 500px;
    Width: 800px;
}

